<!DOCTYPE html>
<html lang="pt-BR">
  <%- include("../partials/head"); %>

  <body>
    <%- include("../partials/menu") %>
    <!-- <img src="/static/Images/images.png" alt="" /> -->
     <h1>Usuario cadastrado</h1>

    <%- include("../partials/rodape") %>
  </body>
</html>
